html{
    width: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #2b4c4f;
    text-align: center;
}

header{
    width: 100%;
    background-color: #fff;
    padding: 2px;
}
.logo{
    height: 150px;
    
}
#madara_intro{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

#madara_intro img{
    width: 300px;
}
#kohaku_intro{
    display: flex;
    flex-direction: row;
}

#kohaku_intro img{
    width: 400px;
    overflow: hidden;
}
 
.description{
    background-color: #fff;
    min-width: 60%;
}
.name{
    letter-spacing: 5px;
}

span{
    color:#2b4c4f;
    font-weight: 500px;
}